@charset "utf-8";
/*--公共部分--*/
/*body{margin:0px auto; padding:0px;font-family:"微软雅黑";font-size:12px;}*/
body {margin:0;padding:0;font:12px/1.5 tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",\5b8b\4f53; color:#4d4d4d;}
body {font: 12px/20px "微软雅黑", "宋体", Arial, sans-serif, Verdana, Tahoma;}
dl,dd,dt,ul,ol,li,h1,h2,h3,h4,h5,h6{list-style-position:outside;list-style-type:none;margin:0px;padding:0px;border:0px;}
ul,li{padding:0px; margin:0px; list-style:none}
input {padding:0px; margin:0px;}
a{color:#555555;text-decoration:none;}
a:hover{text-decoration:underline;color:#ff720a}
a {outline: none;star:expression(this.onFocus=this.blur());}
img{border:none}
.clear{clear:both}
/*页面主体*/
#pagebody { min-width:980px;width:100%;height:100%;margin: 0 auto;background:white;text-align: center;}

/*页头*/
.header{width:980px;margin:10px auto;height:100px;background-color:#ccc}


/*主体*/
.body_wrap {width:980px;margin: 0 auto;padding-top: 10px;background-color:#ccc;height: 800px}
.body_wrap .left{width: 468px;height: 350px;margin-top: 33px;float: left;border: 1px #ccc solid;padding-left:10px;padding-right:10px}
.body_wrap .left ul {width: 100%;height: 350px;}
.body_wrap .left li {width: 100%;height: 40px; display: block; overflow: visible; float: left;padding-top:10px;font-family:"微软雅黑";font-size:14px; }
.body_wrap .left ul .head{float: left;font-size: 20px;border-bottom: 1px #ccc solid}
.body_wrap .left ul .foot{text-align: right;padding-right: 2px;}
.body_wrap .left ul input{float: right;text-align: center;font-size: 18px;border: solid 1px #ccc;padding-right: 2px;width: 100px;height: 25px;margin-top: 2px;}

.body_wrap .right{width: 469px;height: 350px;float: right;border-right:1px #ccc solid;border-bottom:1px #ccc solid;border-top: 1px #ccc solid; padding-left:10px;padding-right:10px}
.body_wrap .right ul {width: 100%;height: 350px;}
.body_wrap .right ul .head{float: left;font-size: 20px;border-bottom: 1px #ccc solid}
.body_wrap .right ul .footer{text-align: right;padding-right: 2px;}
.body_wrap .right ul input{float: right;text-align: center;font-size: 18px;border: solid 1px #ccc;padding-right: 2px;width: 100px;height: 25px;margin-top: 2px}
.body_wrap .right li {width: 100%;height: 40px; display: block; overflow: visible; float: left;padding-top:10px;font-family:"微软雅黑";font-size:14px; }

/*页脚*/
.footer {width:980px;margin:10px auto;height:100px;background-color:white}


*页首*/
.topline_wrap {width:100%;min-width:980px;height:35px;background-color: #464646;}
.topline {width: 980px;margin: 0 auto;}
.topline .telephone {width: 200px;font-size: 16px;line-height: 35px;color: #ff720a;text-align: center;float: right;margin-right: 20px;}



/*导航栏*/
.NavMenu {width:980px;text-align: center;}
.nav { width:980px;margin:0 auto;float: right;height:30px;line-height:30px;}
.nav li { position: relative; float: left;font-size:20px;font-family:"Microsoft Yahei";text-align:center;width:196px;background-color:#ccc;}





.header,.centers ,.footer{ width:100%; margin:0 auto; clear:both;font-size:18px;  font-weight:bold;} 

.header{ height:100px; border:1px solid #CCCCCC;text-align: center;position: relative; } 
.ad {width: 980px;height: 60px;margin: 0 auto;background-color: #00A;}
.nav {width: 980px;height: 40px;margin: 0 auto;background-color: #000;}
.centers{ padding:8px 0;} 
.footer{ border-top:1px solid #CCCCCC; background:#F2F2F2;} 

.centers .c_left{ float:left; width:230px; border:1px solid #00CC66; background:#F7F7F7; margin-right:5px; } 
.centers .c_right{ float:left; width:500px;border:1px solid #00CC66; background:#F7F7F7}


.divcss5{ position:relative;width:400px;height:200px;border:1px solid #000} 
/* 定义父级position:relative 为就认为是绝对定位声明吧 */ 
.divcss5-a{ position:absolute;width:400px;height:100px; left:10px;top:10px;background:#000} 
/* 使用绝对定位position:absolute样式 并且使用left top进行定位位置 */ 
.divcss5-b{ position:absolute;width:400px;height:50px; right:15px;bottom:13px;background:#00F} 
/* 使用绝对定位position:absolute样式 并且使用right bottom进行定位位置 */ 