/* 宋体 */
/* 微软雅黑 */
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  -webkit-text-size-adjust: 100%;
  /*解决webkit内核字体默认不能小于12px的问题*/
  font: 12px/1.5 Tahoma, Helvetica, Arial '\5B8B\4F53';
}
button,
input,
select,
textarea {
  font-size: 100%;
}
li {
  list-style: none;
}
iframe {
  border: 0;
}
img {
  border: 0;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both;
}
html {
  overflow-x: hidden;
}
body {
  min-width: 1279px;
  background: #f3f3f3;
  overflow-x: hidden;
}
/*广告*/
.g-banner-wrap {
  width: 100%;
}
.g-banner {
  height: 224px;
  border: 9px solid #a3a3a3;
  background: #efefef;
}
.g-hd {
  width: 100%;
}
.g-item {
  position: relative;
  margin: 0 auto;
}
.g-bg1 {
  background: #28a7e1;
}
.g-info {
  position: relative;
  width: 1279px;
  height: 81px;
  margin: 0 auto;
}
.g-info a {
  color: #fff;
}
.g-info .m-logo {
  position: absolute;
  top: 10px;
  left: 10px;
}
.g-info .m-search {
  position: absolute;
  top: 30px;
  left: 277px;
  color: #fff;
}
.g-info .m-search .search-input {
  border: 1px solid #aab6bb;
  width: 282px;
  height: 26px;
  border-radius: 5px;
}
.g-info .m-login {
  position: absolute;
  top: 30px;
  right: 0;
  color: white;
}
.g-info .m-login a {
  padding: 0 2px;
}
/*图片切换*/
.m-pic-scroll {
  position: relative;
  min-width: 1279px;
  height: 502px;
  margin: 0 auto;
  background: #ff0;
  overflow: hidden;
}
.m-pic-scroll .scroll li {
  float: left;
}
.btn-left {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  display: block;
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 60px;
  left: 0;
  top: 220px;
  background: url(../images/left1.png) no-repeat;
  z-index: 10;
}
.btn-right {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  display: block;
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 60px;
  right: 0;
  top: 220px;
  background: url(../images/right1.png) no-repeat;
  z-index: 10;
}
.btn-left2 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  display: block;
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 223px;
  left: 15px;
  top: 260px;
  background: url(../images/left2.gif) no-repeat;
}
.btn-right2 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  display: block;
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 223px;
  right: 0;
  top: 260px;
  background: url(../images/right2.gif) no-repeat;
  z-index: 10;
}
.scroll-ico {
  height: 42px;
  text-align: center;
  margin: 0 auto;
  width: 300px;
}
.scroll-ico ul li {
  display: block;
  float: left;
  width: 60px;
  height: 4px;
  margin: 10px 6px 0;
  background: #b0b8b9;
}
.scroll-ico ul li.on {
  background: #28a7e1;
}
/*主体*/
.g-bd {
  width: 100%;
}
.g-bd-up {
  background: url(../images/g_bd_up_bg.gif) repeat-x;
}
.g-wh {
  width: 1279px;
}
.g-m1 {
  padding-top: 17px;
  padding-left: 43px;
}
.g-pic-box {
  position: relative;
  height: 273px;
  float: left;
  margin-left: 20px;
}
.g-m1-btns {
  position: absolute;
  left: 80px;
  bottom: 48px;
}
.btn-gray {
  display: block;
  padding: 7px 65px;
  border-bottom: 3px solid #7f8c8c;
  border-radius: 5px;
  text-align: center;
  background: #a3a3a3;
}
.btn-gray a {
  color: #fff;
}
.btn-gray:hover {
  border-bottom: 3px solid #28a7e1;
  background: #30b9e7;
}
/*模块2*/
.g-m2 {
  height: 455px;
}
.g-m2 .g-box-hd {
  width: 1147px;
  height: 106px;
  padding-top: 67px;
  margin: 0 auto;
  text-align: center;
}
.g-m2 .g-box-hd .title {
  font-size: 32px;
  color: #28a7e1;
}
.g-m2 .g-box-bd {
  hegiht: 282px;
  margin-left: 64px;
}
.img-box {
  float: left;
  width: 217px;
  height: 256px;
  margin-left: 15px;
  text-align: left;
  background-color: #fff;
  background-image: url(../images/line.gif);
  background-repeat: no-repeat;
  background-position: 0 200px ;
  position: relative;
}
.img-box .stitle {
  position: absolute;
  left: 20px;
  font-weight: bold;
  top: 170px;
}
.img-box .describe {
  position: absolute;
  left: 20px;
  top: 210px;
}
.g-mid-left {
  width: 874px;
  float: left;
}
.g-mid-right {
  width: 298px;
  float: left;
}
/* module4*/
.g-bd-mid {
  margin: 0 auto;
}
.g-wh5 {
  width: 1172px;
}
.g-m4 {
  padding-top: 42px;
}
.g-m4 .coment {
  position: relative;
  height: 302px;
}
.g-m4 .coment .top {
  display: block;
  width: 72px;
  height: 70px;
  line-height: 70px;
  border-radius: 3px;
  text-align: center;
  font-size: 28px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
  color: #fff;
  background: #30b9e7;
  margin-bottom: 16px;
  cursor:pointer;

}
.g-m4 .coment .top span{
  display: block;
  height: 20px;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.g-m4 .coment .say {
  display: block;
  width: 72px;
  height: 70px;
  line-height: 70px;
  border-radius: 3px;
  text-align: center;
  font-size: 28px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
  color: #fff;
  /*background: #7f8c8c;*/
}
.g-m4 .details {
  padding-left: 102px;
  padding-top: 30px;
}
.g-m4 .details .title {
  font-size: 18px;
  color: #30b9e7;
}
.g-m4 .details p {
  color: #a4a4a4;
  padding: 5px 0;
}
.g-m4 .details .writer {
  color: #7f8c8c;
}
.g-m4 .details .comments,
.g-m4 .details .abouts {
  color: #30b9e7;
}
.m4-img {
  position: absolute;
  left: 102px;
  top: 0;
}
.g-wh3 {
  width: 60px;
  padding: 8px 30px;
  float: left;
  margin-left: 20px;
}
/*right part*/
.g-mid-right {
  padding-top: 10px;
}
.g-item-l {
  padding-left: 30px;
  padding-top: 30px;
}
.g-item-l h2 {
  color: #7f8c8c;
  font-size: 16px;
  padding-bottom: 28px;
}
ul.list1 li {
  margin: 9px 0;
  padding-left: 18px;
  background: url(../images/l1_icon.png) no-repeat left center;
}
ul.list1 li a {
  color: #30b9e7;
}
ul.list2 li {
  margin: 9px 0;
  padding-left: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  background: url(../images/l2_icon.gif) no-repeat left 2px;
}
ul.list2 li a {
  color: #30b9e7;
}
ul.list2 li span {
  color: #a4a4a4;
}
ul.list3 li {
  display: block;
  float: left;
  width: auto;
  margin: 4px;
  padding: 10px;
  border-radius: 5px;
  background: #7f8c8c;
}
ul.list3 li a {
  color: #fff;
}
ul.list3 li:hover {
  background: #30b9e7;
}
ul.list4 li {
  margin: 9px 0;
  padding-left: 18px;
  background: url(../images/l3_icon.png) no-repeat left center;
}
ul.list4 li a {
  color: #30b9e7;
}
ul.list5 {
  margin-top: 35px;
}
ul.list5 li {
  margin: 10px 0;
  padding-left: 18px;
  background: url(../images/cursor.gif) no-repeat left center;
}
ul.list5 li a {
  color: #8b8b8b;
}
ul.list6 li {
  float: left;
  margin: 0 12px 40px;
}
.m-banner {
  min-height: 360px;
  border: 4px solid #9ba6a6;
  margin-bottom: 12px;
  background: #efefef;
}
.g-box {
  float: left;
  margin-left: 10px;
  padding-bottom: 30px;
}
.g-box img {
  margin-bottom: 22px;
}
.m-news {
  padding-top: 38px;
}
.m-news h2 {
  margin-bottom: 10px;
  color: #7f8c8c;
  font-size: 16px;
}
.m-news .g-wh6 {
  width: 243px;
  margin-left: 20px;
}
.m-clients {
  position: relative;
  margin: 0 auto 20px;
  padding-bottom: 40px;
  background: url(../images/long-line.gif) no-repeat 160px 6px;
}
.m-clients h2 {
  color: #7f8c8c;
}
.m-clients .btn-left3,
.m-clients .btn-right3 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  position: absolute;
  cursor: pointer;
  width: 45px;
  height: 45px;
  right: 50px;
  top: 0;
  background: url(../images/left3.png) no-repeat;
}
.m-clients .btn-right3 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  right: 0;
  top: 0;
  background: url(../images/right3.png) no-repeat;
}
/* foot part*/
.g-ft {
  height: 50px;
}
.g-ft .g-ft-wrap {
  position: relative;
  margin: 0 auto;
  color: #fff;
  line-height: 50px;
}
.g-ft .connects {
  position: absolute;
  right: 0;
  top: 0;
}
/*图片切换*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
ul,
li {
  list-style: none;
}
img {
  border: 0;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
h1 {
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  font-weight: normal;
  font-family: "Microsoft YaHei", SimHei;
  margin-bottom: 20px;
}
/* focus */
#focus {
  min-width: 1279px;
  height: 502px;
  overflow: hidden;
  position: relative;
}
#focus ul {
  position: absolute;
}
#focus ul li {
  float: left;
  height: 502px;
  overflow: hidden;
  position: relative;
  background: #000;
}
#focus ul li div {
  position: absolute;
  overflow: hidden;
}
#focus .btnBg {
  position: absolute;
  width: 800px;
  height: 20px;
  left: 0;
  bottom: 0;
  background: #000;
}
#focus .btn {
  position: absolute;
  width: 780px;
  height: 10px;
  padding: 5px 10px;
  right: 0;
  bottom: 0;
  text-align: right;
}
#focus .btn span {
  display: inline-block;
  _display: inline;
  _zoom: 1;
  width: 25px;
  height: 10px;
  _font-size: 0;
  margin-left: 5px;
  cursor: pointer;
  background: #fff;
}
#focus .btn span.on {
  background: #fff;
}
#focus .preNext {
  width: 45px;
  height: 100px;
  position: absolute;
  top: 200px;
  background: url(../images/left1.png) no-repeat 0 0;
  cursor: pointer;
}
#focus .pre {
  left: 0;
}
#focus .next {
  right: 0;
  background: url(../images/right1.png) no-repeat 0 0;
}

.m .mt,.right .m .mt{font:14px/30px 'microsoft yahei'}
.m1 .mt h2,.m2 .mt h2{font-weight:400}
#comment{border-top:2px solid #999}
#comment .mc{padding:10px 0;overflow:hidden;zoom:1;border:1px solid #ddd;border-top:0}
#comment .rate{float:left;width:120px;padding:20px 0 0;text-align:center}
#comment .rate strong{font:400 46px/30px arial;color:#e4393c}
#comment .rate span{color:#999;font-family:arial}
#comment .rate strong span{font-size:24px;color:#e4393c}
#comment .percent{float:left;width:186px;height:74px;padding:8px 0;border-right:1px solid #E4E4E4}
#comment .percent span{color:#9C9A9C}
#comment .percent dl{padding:2px 0;overflow:hidden;zoom:1}
#comment .percent dt{float:left;width:70px}
#comment .percent dd{float:left;width:100px;height:10px;margin-top:6px;overflow:hidden;background:#efefef}
#comment .percent dd div{overflow:hidden;height:10px;width:0;background-color:#ED0000;background-image:-ms-linear-gradient(top,#ED0000 0,#A50000 100%);background-image:-moz-linear-gradient(top,#ED0000 0,#A50000 100%);background-image:-o-linear-gradient(top,#ED0000 0,#A50000 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ED0000),color-stop(1,#A50000));background-image:-webkit-linear-gradient(top,#ED0000 0,#A50000 100%);background-image:linear-gradient(to bottom,#ED0000 0,#A50000 100%)}
#comment .actor{float:left;position:relative;width:280px;height:85px;padding:5px 15px 0;line-height:15px;border-right:1px solid #E4E4E4;overflow:hidden;zoom:1}
#comment .actor a{color:#005aa0}
#comment .actor ul{margin-top:5px;height:40px;overflow:hidden}
#comment .actor li{float:left;width:120px;height:15px;padding:2px 17px 2px 0;overflow:hidden}
#comment .actor li span{color:#9C9A9C}
#comment .actor .u-name{float:left;width:90px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
#comment .actor span{float:right}
#comment .btns{float:right;width:140px;height:75px;padding-top:5px;line-height:15px;text-align:center}
#comment .btn-comment{display:block;overflow:hidden;margin:5px auto;width:119px;height:30px;line-height:30px;background-position:-142px -390px;background-color:#28a7e1}
#comment .btns .btn-comment{color:#333}
#comment .btns a{color:#005aa0}.root61 
#comment .rate{width:190px}.root61 
#comment .actor{width:446px}.root61 
#comment .actor li{width:160px}
#comment .btns .btn-comment{color:#333;border:1px #ccc solid;}
#comment .btns  a{color:#005aa0;text-decoration: none;}

.comment-box{background:#fcfffa;border:1px solid #d0e4c2;;height: 300px;position: relative;}
.comment-box .cont{float:right;margin-top:10px;margin-right: 10px}
.comment-box .cont textarea{width:880px;height: 200px}


.login{ width:885px; height:372px; border:1px solid #dbdbdb; background-color:#fff; margin:70px auto;}
.longin_l{ float:left;}
.longin_r{ float:right; width:347px; padding-top:14px;}
.longin_r .input{ border:1px solid #dbdbdb; height:32px; padding:0 10px; color:#333; background-color:#ffffff; margin-bottom:10px;}
.w300{ width:280px;}
.longin_r p{ line-height:22px; color:#646464}
.longin_cg{ text-align:center; padding-top:80px;}
.longin_cg h3{ font-size:20px; line-height:68px;}
.longin_cg p{ font-size:14px; color:#646464; margin-bottom:16px;}



.jia_fang_item{width:180px;height:180px;background-color:green;margin-top:10px;float: left;margin-right: 12px;overflow: hidden;}
.jia_fang_item img{width: 180px;height: 180px}