@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; border:0;}
body{ font-family:"Microsoft YaHei", "微软雅黑"; font-size:12px; line-height:1.5em; color:#727272; background-color:#fff; }
html, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; }
img { border: 0 none; vertical-align: top; }
ul { list-style-type:none;}
li { list-style-type:inhert; }
h1{font-size:20px}
h2{font-size:18px}
h3{font-size:16px}
h4{font-size:14px}
h5{font-size:12px}
h6{font-size:10px}
button { cursor: pointer; }
a, a:link {  text-decoration: none; color:#727272; }
a:active, a:hover { text-decoration: none; color:#0e9adf; }
a:focus { outline: none; }
.fixed:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.fixed { display: block; min-height: 1%; }
_html .fixed { height: 1%; }
.clear { display: block!important; float: none!important; clear: both; overflow: hidden; width: auto!important; height: 0!important; margin: 0 auto!important; padding: 0!important; font-size: 0; line-height: 0; }
.fl, .fr { display: inline; float: left; }
.fr { float: right; }
.font{ font-family:"Microsoft YaHei", "微软雅黑"; font-size:13px;}



#header_bg{background-color:#fff; width:100%;}
#header{ width:990px; height:80px; margin:0 auto;}
#banner{  width:100%; overflow:hidden;}/*height:530px;*/
#main{ width:990px; margin:0 auto; min-height:700px; padding-bottom:20px;}

#header .hlogin{ margin:10px; text-align:right; font-size:13px;margin-right:30px;}
#header .hlogin a{ text-decoration:underline; padding:0 5px; color:#0e9adf;}
#header .hlogin a:hover{ text-decoration:none;}
#header .nav { margin-right:16px;}
#header .nav li{ float:left; font-size:16px; background:url(../images/h_libg.jpg) no-repeat left center; padding:0px 15px; padding-left:24px; line-height:35px; height:35px; }
#header .nav li.current{border-bottom:6px solid #0093dd;}
#header .nav li.current a{color:#0e9adf;}


/*--------search--------------*/
#banner{ position:relative;}
#banner .banner_img{ margin:0 auto; text-align:center; z-index:1;height:529px;width:100%; }
#banner .search{ width:100%; height:33px; z-index: 3; background:url(../images/nav_bg.png) repeat-x; top:0px; position:absolute;}
.search_main{width:960px; margin:0 auto; position:relative;}
.search .search_right{ background:url(../images/search_bg.png) no-repeat; width:273px; height:33px; float:right; line-height:33px;   }
.search .search_right input{font-family:"Microsoft YaHei", "微软雅黑"; margin-left:30px; margin-top:6px; width:100px; height:20px; background:none; color:#fff;  }
.search .search_right a.submit_search{ padding:10px;margin-left:0px;}
.search .search_right a{margin-left:45px; color:#fff;font-family:"Microsoft YaHei", "微软雅黑"; font-size:13px;  }
.search_r{ background:#0C91D5;height:33px; width:600px; line-height:33px; float:right; position:absolute; left:960px;}
.banner_img{ width:100%; overflow:hidden;}




/*--------scroll--------------*/

.scroll_box{width:100%; position:absolute; top:372px;background:url(../images/scroll_bg.png) repeat-x center 60px;}
.banner_scroll{position:relative;left:0px;right:0px;margin-left:auto;margin-right:auto;width:1000px; overflow:hidden; padding:10px;  }
.banner_scroll ul{width:1000000px;}
.banner_scroll ul li{ float:left;}
.banner_scroll li{ margin:0px;margin-right:20px;}
.banner_scroll div,.banner_scroll ul,.banner_scroll li{ float:left;}
.banner_scroll li img{ float:left;}
.banner_scroll .text_r{ float:right; color:#fff; font-size:13px; width:170px; margin-left:15px; padding-top:30px;}
.banner_scroll .text_r h4{ color:#ffcc00; font-weight:bold;font-family:"Microsoft YaHei", "微软雅黑";}
.banner_scroll .text_r a{color:#fff;}
.banner_scroll .text_r a:hover{ text-decoration:underline;}



.scrollbar{margin:0 auto;width:960px;height:136px;padding:0px 0 0 52px;position:relative;overflow:hidden;background:url(../images/scroll_bg.jpg) left 2px no-repeat;}
.scrollbar a.go_left,a.go_right{width:18px;height:36px;position:absolute;cursor:default;}
.scrollbar a.go_left{left:10px;background-position:0px -90px; }
.scrollbar a.go_left img{ margin-top:40px;}
.scrollbar a.go_right img{ margin-top:40px;}
.scrollbar a.go_right{right:25px;background-position:-19px -90px;}
.scrollbar a.leftOn,a.rightOn{width:18px;height:36px;position:absolute;cursor:pointer;}
.scrollbar a.leftOn{left:20px;background-position:-40px -90px;}
.scrollbar a.leftOn:hover{left:20px;background-position:-80px -90px;}
.scrollbar a.rightOn{right:25px;background-position:-59px -90px;}
.scrollbar a.rightOn:hover{right:25px;background-position:-99px -90px;}
.scroll{float:left;width:920px; padding-left:5px;height:124px;overflow:hidden;position:relative;left:-10px; }
.scroll li b{font-size:14px;}

.scroll_pic{ margin:0 auto; text-align:center;overflow:hidden;position:relative;width:81px; }
#numbb_ztc_5 li {
    background: url("../images/pic0.png") no-repeat;
    height: 17px;
    overflow: hidden;
    padding:5px;
    width: 17px;
    float:left;cursor:pointer;
}
#numbb_ztc_5 .bigon{  background: url("../images/pic1.png") no-repeat; }



/*----------------------------提示弹出层-------------------------*/
.Com_tip{ display:none; width:810px; height:370px; position: fixed; top:100px; left:50%; margin-left:-405px; z-index:5; border:3px solid #0b2039; background-color:#fff;}
.Com_tipleft{ float:left;}
.Com_tipright{ float:right; padding:70px 140px 0 0;}
.Com_tipright h1{ font-weight:normal; font-size:30px; text-align:center; line-height:50px;}
.Com_close{ position:absolute; top:-10px; right:-10px;}
.Com_mask{ display:none; position:absolute; width:100%; left:0; top:0; background-color:#000;filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;}

.Con_low{ line-height:30px; font-size:14px; padding:20px;}
.Con_low h3{ font-size:28px; font-weight:normal; color:#019A98; padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #CECECE;}
.Con_low h3 .Con_tipspan{ font-size:22px; color:#EB6039; padding-left:15px;}





/*--------footer--------------*/
#footer{ width:100%;background:url(../images/bottom_bg.png) repeat-x;height:300px; color:#FFF; border-top:7px solid #0371af;background-color:#33a9e4;}
#footer .main{width:990px; margin:0 auto; padding-top:10px; height:200px;}
#footer .main ul li{ float:left; height:150px; width:100px; text-align:left; }
#footer .main ul li span{ font-size:16px; line-height:30px;}
#footer .main ul li p{ font-size:12px; line-height:30px;}
#footer .address{ font-size:13px;width:260px; line-height:1.7em; float:right; text-align:left; padding-right:10px;}
#footer a{ color:#fff;}
#footer .ad_li span{ padding:5px;}
#footer .ad_li a{ padding:5px;}
#footer .ad_li a:hover{text-decoration:underline;}
#footer .ad_li a.cur{ background:url(../images/address_bg.png) no-repeat 2px 6px; color:#159adf; text-decoration:none;}
#footer a:hover{ text-decoration:underline;}
#footer .bottom{ clear:both; border-top:1px solid #77c5ec; text-align:center; line-height:30px; padding-top:20px;}
#footer .bottom a{ text-decoration:underline;}
#footer .bottom span{ padding:10px;}
#footer .coina{ float:right; width:200px; margin-right:400px;}
#footer .coinus div.jiathis_style{ height:25px; }
#footer .jiathis_style a{padding:0px 10px;width:20px; height:27px; float:right;}
#footer .jiathis_style img{ margin-top:-10px;}
#footer .jiathis_style .jtico{ height: 20px!important; padding-left: 5px!important; background:none;}
#footer .jiathis_style .jiathis_separator{ margin:0;}





















