html {
  overflow-x: auto;
}
.bd-wrap {
  margin: 0 auto;
  background: #fff;
}
.m-login {
  color: #fff;
  text-align: right;
  padding-right: 20px;
}
.m-login .customer {
  background: url(../images/cursor2.gif) no-repeat right center;
  padding-right: 13px;
  cursor: pointer;
}
.m-infobox {
  position: relative;
  margin-bottom: 10px;
  padding-left: 16px;
}
.m-infobox p {
  padding: 5px 0;
  color: #808080;
}
.m-infobox p span {
  color: red;
  font-weight: bold;
}
.m-infobox p a {
  color: #2255dd;
  margin-right: 10px;
}
.m-infobox .short-input {
  border: 1px solid #ccc;
  width: 50px;
  height: 20px;
  line-height: 20px;
}
.m-infobox .long-input {
  border: 1px solid #ccc;
  width: 150px;
  height: 20px;
  line-height: 20px;
}
.m-infobox .bluebtn {
  border: 1px solid #0e75a4;
  padding: 5px 15px;
  background: #28a6e1;
  color: #fff;
  cursor: pointer;
}
.m-infobox .bluebtn:hover {
  background: #50bbec;
}
.g-wh7 {
  width: 1029px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #e3e3e3;
}
.g-m2-left {
  position: relative;
  float: left;
  width: 580px;
  padding-top: 20px;
  padding-left: 20px;
}
.g-m2-left .price {
  position: absolute;
  right: 0;
  top: 20px;
}
.g-m2-left .ad-title {
  margin-bottom: 10px;
}
.g-m2-left .ad-title .til {
  font-weight: bold;
  font-size: 14px;
}
.g-m2-left .ad-title .ti2 {
  color: #999;
}
.g-m2-left .ad-cnt {
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 25px;
  background: #f3f3f3;
}
.g-m2-left .ad-cnt .list5 {
  max-width: 300px;
  float: left;
  margin-top: 5px;
  margin-right: 25px;
}
.g-m2-left .ad-cnt h2 {
  font-size: 16px;
  color: #3ac7ec;
}
.g-m2-right {
  float: left;
  width: 395px;
  margin-left: 10px;
  padding-top: 20px;
}
.g-m2-tab {
  margin-top: 10px;
}
.g-m2-tab .btns {
  height: 30px;
  background: #f7f7f7;
  border: 1px solid #dddddd;
  border-top: 2px solid #999999;
}
.g-m2-tab .btns li {
  float: left;
  padding: 5px 15px;
}
.g-m2-tab .btns li.on {
  margin-top: -9px;
  margin-left: -1px;
  padding: 10px 15px;
  border-top: 2px solid #28a7e1;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  color: #28a7e1;
  background: #fff;
  border-bottom: none;
}
.g-m2-tab .btns li.z-on {
  margin-top: -10px;
  margin-left: -1px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-top: 2px solid #28a7e1;
  color: #28a7e1;
  background: #fff;
}
.g-m2-tab .cnt {
  clear: left;
  height: 232px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-top: none;
  padding: 17px;
}
.g-m2-tab .cnt {line-height: 25px}
.g-m2-tab .cnt span {
  font-weight: bold;
  color: #000;
}
.g-m2-tab .cnt p {
  color: #999;
}
.g-m2-bottom {
  margin-top: 10px;
  padding: 0 20px 10px;
  text-align: center;
}
.g-m2-bottom .customerlist {
  float: left;
  width: 776px;
}
.g-m2-bottom .customerlist li {
  float: left;
  height: 68px;
  border-bottom: 1px solid #dfdfdf;
  margin-right: 19px;
  margin-bottom: 10px;
}
.g-m2-bottom .customerlist li img {
  width: 67px;
  hegiht: 67px;
}
.g-m2-bottom .bottom-btns {
  float: left;
}
.g-m2-bottom img {
  margin-bottom: 5px;
}
.g-m2-bottom a {
  color: #333;
  font-weight: bold;
}
.g-m3-l {
  float: left;
  width: 584px;
  padding: 40px;
}
.g-m3-l .m3-til {
  margin-top: 30px;
  color: #59a0d0;
  font-size: 24px;
  border-bottom: 1px dashed #cebb80;
}
.g-m3-l .m3-list1 li {
  padding: 10px 0;
  margin: 5px 0 10px;
  border-bottom: 1px solid #eae8d1;
}
.g-m3-l .m3-list1 .til {
  color: #4b98cc;
  font-size: 16px;
}
.g-m3-l .m3-list1 .cnt {
  font-size: 10px;
}
.g-m3-l .map {
  margin-top: 40px;
}
.g-m3-r {
  float: left;
  width: 278px;
  padding-top: 40px;
}
.g-m3-r .m3-list2 li {
  margin-bottom: 20px;
}
.g-m3-r .m3-list2 .til {
  color: #4b98cc;
  font-size: 16px;
  border-bottom: 1px dashed #cebb80;
}
.g-m3-r .m3-list2 .cnt {
  font-size: 10px;
}
.g-wh8 {
  width: 990px;
  margin: 30px auto;
}
.user-info {
  position: relative;
  width: 121px;
  float: left;
  padding-top: 18px;
  text-align: center;
  color: #9c9a9c;
}
.user-info .lpic {
  position: absolute;
  right: -1px;
  top: 10px;
  background: url(../images/jian.png) no-repeat;
  z-index: 6;
}
.u-cnt {
  margin-bottom: 15px;
}
.user-comments {
  position: relative;
  float: left;
  width: 866px;
  margin-top: 5px;
  background: #fcfffa;
  border: 1px solid #d0e4c2;
}
.user-comments .star {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #d0e4c2;
  margin-bottom: 3px;
  position: relative;
}
.user-comments .star .time {
  position: absolute;
  right: 10px;
  bottom: 0;
  color: #9c9ab9;
}
.user-comments dt {
  float: left;
  width: 62px;
  text-align: right;
  color: #9C9A9C;
}
.user-comments dd {
  margin-left: 62px;
}
.user-comments dd span {
  margin: 0 3px;
  padding: 2px 20px;
  background: #fdedd2;
}
.user-comments dl.content {
  padding-bottom: 70px;
}
.user-comments .content {
  padding-right: 20px;
  padding-bottom: 20px;
}
.user-comments .btn {
  position: absolute;
  margin-top: 15px;
  bottom: 10px;
  right: 10px;
}
.user-comments .gray-btn {
  height: 20px;
  padding: 0 10px;
  border-top: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  text-decoration: none;
  text-align: center;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f2f2f2));
  background: -moz-linear-gradient(top, #fafafa, #f2f2f2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f2f2f2');
  margin-right: 0;
  border-radius: 3px;
}
.m6-list {
  padding-top: 10px;
  padding-left: 36px;
}
.m6-list li {
  float: left;
  width: 181px;
  height: 176px;
  margin-right: 12px;
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
  text-align: center;
  position: relative;
}
.m6-list li img {
  margin: 0 auto;
}
.m6-list li .red {
  color: #be2829;
  font-size: 16px;
}
.m6-list li .price {
  position: absolute;
  left: 5px;
}
.m6-list li .tg {
  position: absolute;
  right: 5px;
  background: #cc0000;
  padding: 2px 3px;
  border-radius: 3px;
}
.m6-list li .tg a {
  color: #fff;
}
