<!DOCTYPE html>
<html>
<head>
    <title></title>
    <base href="<?php echo base_url(); ?>" />
    <meta charset="utf-8" />
    <meta name="Keywords" content="" />
    <meta name="description" content="" />
    <link href="/css/adminstyle.css" rel="stylesheet" type="text/css" />
    <script type='text/javascript' src='./javascript/jquery-1.8.3.min.js'></script>
    <script type='text/javascript' src='./javascript/global.js'></script>
    <script type='text/javascript' src='./javascript/countdown.js' ></script>
    <script>
        $(document).ready(function(){
            YY.CountDown.closefartherJump(document.getElementById('jsBackTime'));
        });
    </script>
</head>
<body style='background-color:#ffffff;'>
<div class='success' style='width:700px;margin:100px auto 20px auto;text-align:center;'><?php if(isset($msg)){echo $msg;}?></div>
<div class="countdown" style='text-align:center;'><span id='jsBackTime' style='color:#333333;'>3</span><span style='color:#333333;'>秒后自动关闭...</span></div>
</body>
</html>