<script type="text/javascript">
	$(function() {
		$("#prexam").click(function() {
    	    $("#prexamfrom").attr("action", "/exam/prexam/");
    		$("#prexamfrom").submit();
		});
	});
</script>
<div class="body_wrap">
<form id="prexamfrom">
<ul>
	<li>
	<div class="left">
		<ul>
			<li class="head">品牌赏析 <input type="submit" value="开始测试" id="prexam"></li>
			<li>3.1 Phillip Lim  <input type="button" value="已通过"  Disabled></li>
			<li>a.testoni <input type="button" value="已通过"  Disabled></li>
			<li>agnès b <input type="button" value="已通过"  Disabled></li>
			<li>Alexander McQueen <input type="button" value="已通过"  Disabled></li>
			<li>Alexander Wang <input type="button" value="已通过"  Disabled></li>	
			<li class="footer">更多</li>				
		</ul>
	</div>
	<div class="right">
		<ul>
			<li class="head">设计师赏析 <input type="button" value="开始测试"  Disabled></li>
			<li>Alber Elbaz  <input type="button" value="开始测试" ></li>
			<li>Alberta Ferretti <input type="button" value="开始测试" ></li>
			<li>Alexander McQueen <input type="button" value="开始测试" ></li>
			<li>Alexander Wang <input type="button" value="开始测试" ></li>
			<li>Alexandre Herchcovitch <input type="button" value="开始测试" ></li>	
			<li class="footer">更多</li>				
		</ul>
	</div>
</li>	

</ul>
</form>
</div>

<div class="clear"></div>
<div id="pagemore">
		上一页 1  2  3  4 ...  5   下一页   第n页
</div>
<div class="clear"></div>
