<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <base href="<?php echo base_url();?>" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name='keywords' content='' />
  <meta name='description' content='' />
  <title>上海致上信息科技有限公司</title>
  <link href="css/base.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/javascript/jquery-1.8.3.min.js" ></script>
  <script type="text/javascript" src="/javascript/jquery.md5.js" ></script>
  <script language="javascript" type="text/javascript">
   setInterval("document.getElementById('time').innerHTML=new Date().toLocaleString()+'星期'+'日一二三四五六'.charAt(new Date().getDay());",1000); 
  </script>
</head>
<body>
    <div id="Pagebody">
       <div  class="cs-north">
           <div class="cs-north-bg">
              <div class="cs-north-banner"><img src="/<?php echo WEB_IMAGES_PATH?>exam.jpg"></div>
              <div class="fRight mR10" >您好：考生 </div>
              <div class="fRight mR10" id="time"></div>
            </div>
       </div>
    <div class="juanzi" id="Layer1">

      <div id="choice" style="display:none">
        <div class="dati">一、单项选择题(每题2分,共<span id="choicecount"></span>题) </div>
        <div id='examStatus' style="height:50px;line-height:50px;background-color:#ccc;color:red;text-align:left;font-size:18px;padding-left:10px">
          此题剩余时间：<span id="choiceexamTime"></span>秒
        </div>
        <div class="box">
          <span class="t">
            <span id='xl'></span>、<span id="wenti"></span>
          </span><br>
          <div class="abcd">
            <div class="lb">
            A ：<span id="answerA"></span><br>
            B ：<span id="answerB"></span><br>
            C ：<span id="answerC"></span><br>
            D ：<span id="answerD"></span><br></div>
          </div>
          <div class="da">请选择答案： 
            <label>A:<input type="radio" name="answer" value="CA"></label>
            <label>B:<input type="radio" name="answer" value="CB"></label>
            <label>C:<input type="radio" name="answer" value="CC"></label>
            <label>D:<input type="radio" name="answer" value="CD"></label>
            <div style="display:none;">
              <input type="radio" id="CA" name="cright" value="">
              <input type="radio" id="CB" name="cright" value="">
              <input type="radio" id="CC" name="cright" value="">
              <input type="radio" id="CD" name="cright" value="">
            </div>
          </div>
          <input type="button" value="下一题" id="gonextchoice" style="width:100px;height:30px" />
        </div>
       </div> 

    <div id="judge" style="display:none">
      <div class="dati">二、 判断题(每题2分,共<span id="judgecount"></span>题)</div>
      <div id='judgexamStatus' style="height:50px;line-height:50px;background-color:#ccc;color:red;text-align:left;font-size:18px;padding-left:10px">
          此题剩余时间：<span id="judgexamTime"></span>秒
      </div>
      <div class="box">
      <span class="t">
        <span id='judgexl'></span> 、<span id="judgewenti"></span>
      </span><br>
      <span id="judgexampic"></span>
      <div class="panda">请判断 ：
        <label>正确:<input type="radio" name="judgeAnswer" id="judgeAnswer" value="1"></label>
        <label>错误:<input type="radio" name="judgeAnswer" id="judgeAnswer" value="0"></label> 
      </div><input type="hidden" id="jright" name="jright" value="">
      <input type="button" value="下一题" id="gonextjudge" style="width:100px;height:30px" />
    </div>
  </div>  
</div>
</div>
<script type="text/javascript">
  function judgeExam(){
    judgecontentobj = $.ajax({url:"/exam/getquestion",data:{type:"judge"},async:false });
    var judgeobj = jQuery.parseJSON(judgecontentobj.responseText);         /* JQ 处理json格式数据*/
    var judgecount = judgeobj.length                                       /* 获得的题目数量*/
    var judgecounter=0;                                                   /*计数变量,同时以匹配数组下标*/ 
    if(judgecount<1){                                                      /*本次考试是否有判断题*/
      $.ajax({url:"/exam/submitanswer/?userid=1&endexam=0",async:false});   /* 设置改考生状态为考试结束*/ 
      window.location.href="/exam/examresult/?userid=1";return}                     /* 进入考试结果*/ 
    $("#judgecount").html(judgecount);                                      /*设置考试页面显示总题目数*/
    $("#judgexamTime").html(startsecond);                                   /*设置倒计时开始秒数*/
    $("#judgexl").html(judgecounter+1);                                     /*设置考题数即当前第几题*/
    $("#judgewenti").html(judgeobj[judgecounter].title);                    /*显示判断题题目*/
    $("#jright").val(judgeobj[judgecounter].a);
    $("#judgexampic").html("<img src='/images/"+judgeobj[judgecounter].pic+"'>") /*加载题目配图*/
    //内嵌倒计时方法
    function judgereduceTime() {
      var reduce = $("#judgexamTime").html();
      if(reduce == 0){  
        var judgeAnswer = $('input[name="judgeAnswer"]:checked').val();
        if (judgeAnswer==null){judgeAnswer="null";}
        if(judgeAnswer==judgeobj[judgecounter].a){
          console.log("good 你判断对了");
          $.ajax({url:"/exam/score/?userid=1&flag=2",async:false});
        }
        else {console.log("sorry 你判读错了")}
        var c = Number($("#xl").text())+judgecounter+1;      
        //submit
        $.ajax({url:"/exam/submitanswer/?userid=1&questionid="+judgeobj[judgecounter].id+"&answer=j"+judgeAnswer+"&c="+c,async:false});         
        /* 这里需要设置考生相关信息 */
        if((judgecounter+1)==judgecount){
        $.ajax({url:"/exam/submitanswer/?userid=1&endexam=0",async:false});/*设置改考生状态为考试结束*/
         window.location.href="/exam/examresult/?userid=1";return}
        $("#judgexamTime").html(startsecond);
        ++judgecounter;
        $("#judgexl").html(judgecounter+1);
        $("#judgewenti").html(judgeobj[judgecounter].title);
        $("#judgexampic").html("<img src='/images/"+judgeobj[judgecounter].pic+"'>");       
        $('input[name="judgeAnswer"]:checked').attr('checked',false);    //设置radio为为选中状态
        setTimeout(judgereduceTime,1000);
      }
      else{$("#judgexamTime").html(--reduce);setTimeout(judgereduceTime,1000);}
    }
    judgereduceTime();
}

function choiceExam() {
    var reduce = $("#choiceexamTime").html();                    /* 读获初始化倒计时间秒数 */
    if(reduce == 0){     
        /* 获取用户的选择结果*/ 
        var choiceAnswer = $('input[name="answer"]:checked').val();
        if (choiceAnswer==null){choiceAnswer="null";} 
        //<-----------dangerouse----------
        $("input[id="+choiceAnswer+"]").attr("checked",'checked'); 
        var cright = $('input[name="cright"]:checked').val(); 
        //-----------dangerouse---------->
        if(cright!=null){
          if($.md5(cright.toUpperCase())=="7fc56270e7a70fa81a5935b72eacbe29"){
            console.log("good 你选择对了")
            $.ajax({url:"/exam/score/?userid=1&flag=2",async:false});
          }
          else {console.log("sorry 你选择错了")}
        }else{
          console.log("你没有做答")
        }
        /*你不要知道这句是干嘛的*/  
        $.ajax({url:"/exam/submitanswer/?userid=1&questionid="+obj[counter].id+"&answer=c"+cright+"&c="+(counter+1),async:false});

        /*逻辑判断：选择题有没有做完，若做完开始进入判断题答题*/
        if ((counter+1)==choicecount){
          $("#judge").css("display","block");
          $("#choice").css("display","none");judgeExam();return;}

        //*<--------进入下一题--------*/
        ++counter;                                                  /* 计数器累计 */
        $("#xl").html(counter+1);                                   /* 标题列表记数器加累计加一 */
        $("#wenti").html(obj[counter].title);                       /* 显示下一题标题以及下面的内容 */
        $.each(obj[counter].a,function(key,value){$("#answerA").html(value);$("#CA").val(key)});
        $.each(obj[counter].b,function(key,value){$("#answerB").html(value);$("#CB").val(key)});
        $.each(obj[counter].c,function(key,value){$("#answerC").html(value);$("#CC").val(key)});
        $.each(obj[counter].d,function(key,value){$("#answerD").html(value);$("#CD").val(key)});
        $('input[name="answer"]:checked').attr('checked',false);    /* 设置全部radio为未选中状态 */
        $("#choiceexamTime").html(startsecond);                     /* 重新初始化下一题倒计时间秒数 */
        setTimeout(choiceExam,1000);                                /* 倒计时开始计时 */      
    }
    else{$("#choiceexamTime").html(--reduce);setTimeout(choiceExam,1000)}
}

    $("#gonextchoice").click(function(){$("#choiceexamTime").html(0);});  /* 手动选择题进入下一题 */     
    $("#gonextjudge").click(function(){$("#judgexamTime").html(0);});     /* 手动判断题进入下一题 */
    //考试入口,默认考试从选择题开始，
    $.ajax({url:"/exam/submitanswer/?userid=1&startexam=1",async:true}); /* 设置改考生状态为考试中*/ 
    choicecontentobj = $.ajax({url:"/exam/getquestion",data:{type:"choice"},async:false});
    var obj = jQuery.parseJSON(choicecontentobj.responseText);   /* JQ 处理json格式数据*/
    var choicecount = obj.length                                 /* 获得的题目数量*/
    var startsecond=10;                                          /*定义每题考试时间秒*/
    var counter=0;                                              /*计数器变量,同时以匹配数组下标*/    
    if(choicecount==0){
        $("#judge").css("display","block");judgeExam()
    }
    else{
        $("#choice").css("display","block");
        $("#choicecount").html(choicecount);
        $("#choiceexamTime").html(startsecond+1);
        $("#xl").html(counter+1);
        $("#wenti").html(obj[0].title);
        $.each(obj[0].a,function(key,value){$("#answerA").html(value);$("#CA").val(key)});
        $.each(obj[0].b,function(key,value){$("#answerB").html(value);$("#CB").val(key)});
        $.each(obj[0].c,function(key,value){$("#answerC").html(value);$("#CC").val(key)});
        $.each(obj[0].d,function(key,value){$("#answerD").html(value);$("#CD").val(key)});
        choiceExam();
    }
</script>
</body>
</html>   