<div id="Pagebody">
	<div class="coursebody">
		<div class="navbar">品牌赏析\一线品牌\Phillip Lim</div>

		<div class="coursetop">
			<a href="/course/study/">
				<img src="/<?php echo WEB_IMAGES_PATH?>coursedetail.png" width="100%">
			</a>	
		</div>
		<div class="coursedesc">简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介。。。。。</div>
		<div class="coursebuyhistory">coursebuyhistory</div>
		<div class="courseoverhistory">courseoverhistory</div>
		<div class="coursecomment">coursecomment</div>

	</div>
</div>