<div id="Pagebody">
	<div style="width: 980px;margin:0 auto;margin-top:20px">
		<div class="navbar">
		<img src="/<?php echo WEB_IMAGES_PATH?>coursestudy.png" width="100%"></div>

		
		<div style="margin-top:20px;background-color: white">
 
	    <img src="/<?php echo WEB_IMAGES_PATH?>coursestudy1.png" width="100%">
	    <img src="/<?php echo WEB_IMAGES_PATH?>coursestudy2.png" width="100%">
		<img src="/<?php echo WEB_IMAGES_PATH?>coursestudy3.png" width="100%">
		<img src="/<?php echo WEB_IMAGES_PATH?>coursestudy4.png" width="100%">
		</div>
		

	</div>
</div>