<div >
<center>
<!-- <h1 style="margin-top:200px;">上海致上信息科技有限公司,网站正在建设中，敬请期待。。。。。。！</h1> -->

<img src="<?php echo WEB_IMAGES_PATH?>about.png" style="margin-top:20px" width="980" height="180">
<img src="<?php echo WEB_IMAGES_PATH?>new.png" style="margin-top:20px" width="980" height="180">
<img src="<?php echo WEB_IMAGES_PATH?>course.png" style="margin-top:20px" width="980" height="180">
<img src="<?php echo WEB_IMAGES_PATH?>StrarTecher.png" style="margin-top:20px" width="980" height="180">
<img src="<?php echo WEB_IMAGES_PATH?>hotzixun.png" style="margin-top:20px" width="980" height="180">
<img src="<?php echo WEB_IMAGES_PATH?>paerteryx.png" style="margin-top:20px" width="980" height="180">
<img src="<?php echo WEB_IMAGES_PATH?>hezuopingpai.png" style="margin-top:20px" width="980" height="180">


</center>
</div>
